body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.section {
  background-color: #ff7373;
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
}
.section:hover .phone,
.section:hover .tablet,
.section:hover .desktop {
  transform: translateY(-50px) rotateX(15deg) rotateZ(20deg);
}

.heading {
  margin-left: 50%;
}

.phone,
.tablet,
.desktop {
  background-color: #ffffff;
  position: absolute;
  box-shadow: 5px 5px 5px 0 rgba(92, 112, 128, 0.1);
  transition: 0.5s;
  transform: translateY(100%);
  border: 10px solid #ced9e0;
}

.phone {
  height: 280px;
  width: 200px;
  left: 5%;
  bottom: 0;
  background: #e1e8ed;
  z-index: 3;
  transition-delay: 0s;
}

.tablet {
  width: 360px;
  height: 380px;
  background-color: #ebf1f5;
  left: 10%;
  bottom: 0;
  z-index: 1;
  transition-delay: 0.15s;
}

.desktop {
  width: 680px;
  height: 480px;
  background-color: #f5f8fa;
  bottom: 0;
  left: 15%;
  transition-delay: 0.3s;
}