@import '../../../common/styles/colors';

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.section {
  background-color: $red5;
  color: $white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;

  &:hover {
    .phone,
    .tablet,
    .desktop {
      transform: translateY(-50px) rotateX(15deg) rotateZ(20deg);
    }
  }
}

.heading {
  margin-left: 50%;
}

.phone,
.tablet,
.desktop {
  background-color: $white;
  position: absolute;
  box-shadow: 5px 5px 5px 0 rgba($gray1, 0.1);
  transition: 0.5s;
  transform: translateY(100%);
  //border-radius: 10px;
  border: 10px solid $light-gray1;
}

.phone {
  height: 280px;
  width: 200px;
  left: 5%;
  bottom: 0;
  background: $light-gray3;
  z-index: 3;
  transition-delay: 0s;
}

.tablet {
  width: 360px;
  height: 380px;
  background-color: $light-gray4;
  left: 10%;
  bottom: 0;
  z-index: 1;
  transition-delay: 0.15s;
}

.desktop {
  width: 680px;
  height: 480px;
  background-color: $light-gray5;
  bottom: 0;
  left: 15%;
  transition-delay: 0.3s;
}
