<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="./styles/main.css?v=3dba5dad2f" />
    </head>
    <body>
        <div class="section section_1">Section 1 <button class="open-dialog">Open dialog</button></div>
        <div class="section section_2">Section 2 <button class="open-dialog">Open dialog</button></div>
        <div class="section section_3">Section 3 <button class="open-dialog">Open dialog</button></div>
        <div class="section section_4">Section 4 <button class="open-dialog">Open dialog</button></div>

        <div class="dialog dialog_hidden">
            <div class="dialog__wrapper">
                <div class="dialog__window">
                    <div class="dialog__header">
                        <div class="dialog__icon"></div>
                        <div class="dialog__title">Dialog</div>
                        <div class="dialog__controls">
                            <div class="dialog__control dialog__control_type_close close-dialog"></div>
                        </div>
                    </div>
                    <div class="dialog__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam facilis illo iste, iusto
                        obcaecati quaerat quas ut voluptatem. Aliquid doloribus eaque, eos magni minima nobis quae
                        ratione rerum sequi tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
                        facilis illo iste, iusto obcaecati quaerat quas ut voluptatem. Aliquid doloribus eaque, eos
                        magni minima nobis quae ratione rerum sequi tempora. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Aperiam facilis illo iste, iusto obcaecati quaerat quas ut voluptatem. Aliquid
                        doloribus eaque, eos magni minima nobis quae ratione rerum sequi tempora.
                    </div>
                    <div class="dialog__footer">
                        <button class="close-dialog">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/index.js?v=0e60ccbd30"></script>
    </body>
</html>
