<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <div class="side-menu">
      <div class="side-menu__btn">
        <div class="side-menu__btn-burger"></div>
      </div>
      <div class="side-menu__main">
        <ul class="side-menu__menu">
          <li>
            <a href="#" class="side-menu__menu-item">Item 1</a>
          </li>
          <li>
            <a href="#" class="side-menu__menu-item">Item 2</a>
          </li>
          <li>
            <a href="#" class="side-menu__menu-item">Item 3</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="content">
      <h1>Content</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet
        animi aspernatur cumque illo, sint voluptate voluptatibus? At fugiat
        minus nihil, nobis nulla obcaecati reprehenderit sequi tenetur? Eveniet
        numquam, quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Adipisci amet animi aspernatur cumque illo, sint voluptate
        voluptatibus? At fugiat minus nihil, nobis nulla obcaecati reprehenderit
        sequi tenetur? Eveniet numquam, quaerat? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Adipisci amet animi aspernatur cumque
        illo, sint voluptate voluptatibus? At fugiat minus nihil, nobis nulla
        obcaecati reprehenderit sequi tenetur? Eveniet numquam, quaerat? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi
        aspernatur cumque illo, sint voluptate voluptatibus? At fugiat minus
        nihil, nobis nulla obcaecati reprehenderit sequi tenetur? Eveniet
        numquam, quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Adipisci amet animi aspernatur cumque illo, sint voluptate
        voluptatibus? At fugiat minus nihil, nobis nulla obcaecati reprehenderit
        sequi tenetur? Eveniet numquam, quaerat? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Adipisci amet animi aspernatur cumque
        illo, sint voluptate voluptatibus? At fugiat minus nihil, nobis nulla
        obcaecati reprehenderit sequi tenetur? Eveniet numquam, quaerat? Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi
        aspernatur cumque illo, sint voluptate voluptatibus? At fugiat minus
        nihil, nobis nulla obcaecati reprehenderit sequi tenetur? Eveniet
        numquam, quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Adipisci amet animi aspernatur cumque illo, sint voluptate
        voluptatibus? At fugiat minus nihil, nobis nulla obcaecati reprehenderit
        sequi tenetur? Eveniet numquam, quaerat? Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Adipisci amet animi aspernatur cumque
        illo, sint voluptate voluptatibus? At fugiat minus nihil, nobis nulla
        obcaecati reprehenderit sequi tenetur? Eveniet numquam, quaerat?
      </p>
    </div>

    <script src="js/index.js"></script>
  </body>
</html>
