$col1: 20px;
$col2: 200px;
$col3: 100px;
$col4: 20px;
$col5: 20px;
$col6: 100px;
$col7: 20px;

$row1: 20px;
$row2: 40px;
$row3: 80px;
$row4: 80px;
$row5: 20px;

$cardWidth: #{$col1 + $col2 + $col3 + $col4};
$cardHeight: #{$row1 + $row2 + $row3 + $row4 + $row5};

.container {
  display: grid;
  grid-template-columns: $col1 $col2 $col3 $col4 $col5 $col6 $col7;
  grid-template-rows: $row1 $row2 $row3 $row4 $row5;
  gap: 0;
  position: relative;
  width: fit-content;

  // Карта все
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 10px;
    width: $cardWidth;
    height: $cardHeight;
    z-index: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  }

  // Задняя карта
  &::before {
    top: 28px;
    right: 0;
    background: #efefef;
    z-index: 1;
  }

  // Передняя карта
  &::after {
    top: 0;
    left: 0;
    background: #f2f2f2;
    z-index: 2;
  }

  // Сетка областей (теперь с учетом слоев)
  grid-template-areas:
    '. .      .      . .      .      . '
    '. logos  logos  . .      .      . '
    '. number number . stripe stripe stripe'
    '. save   date   . .      cvc    . '
    '. .      .      . .      .      . ';
}

// ЭЛЕМЕНТЫ (выносим их над фоном через z-index)
.element {
  z-index: 3;
}

.logos {
  grid-area: logos;
  display: flex;
  gap: 12px;
  //align-items: center;
  font-family: sans-serif;
  font-weight: 900;
  color: #5e6d81;
  opacity: 0.6;
}

.field {
  grid-area: var(--area);
  background: white;
  border: 1px solid #d3d4d8;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  height: 60px;

  label {
    font-size: 11px;
    color: #a5a5a5;
    margin-bottom: 4px;
    font-family: sans-serif;
  }

  input {
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    color: #333;
  }
}

// Позиционируем через переменные
.number {
  grid-area: number;
  z-index: 3;
}
.date {
  grid-area: date;
  z-index: 3;
}
.cvc {
  grid-area: cvc;
  z-index: 3;
}

.checkbox {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 8px;
}

.save {
  grid-area: save;
  z-index: 3;
  display: flex;
  // padding-top: 18px;
  gap: 10px;
  font-size: 14px;
  font-family: sans-serif;
  color: #444;

  input {
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    background: white;
    appearance: none;
    border-radius: 4px;
    cursor: pointer;
    &:checked {
      background: #5e6d81;
    }
  }
}

.stripe {
  grid-area: stripe;
  z-index: 2;
  background: #dbdbdb;
  height: 60%;
}
