@use '~common/styles/colors' as *;

.container {
  background: $light-gray3;
  border: 1px solid $gray3;
  padding: 4px;
  border-radius: 6px;
}

.tabsRow {
  display: flex;
  padding: 0 16px;
  position: relative;
  margin-top: -4px;
}

.tab {
  --tabHeight: 42px;
  --spaceVert: 4px;
  display: flex;
  align-items: center;
  height: var(--tabHeight);
  position: relative;
}

.tabView {
  // background: $light-gray5;
  --sp1: 1px;
  border-radius: 8px;
  margin: 4px var(--sp1);
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: calc(var(--tabHeight) - var(--spaceVert) * 2);

  &:hover {
    background: $light-gray1;
  }

  .active & {
    --sp2: 2px;
    background: rgba($white, 1);
    border-radius: 0;
    padding: 0 calc(16px + var(--sp2));
    margin: 0 calc(-8px - var(--sp2) + var(--sp1));
    height: 100%;

    --tabGirth: 12px;
    /* prettier-ignore */
    clip-path: shape(
        from bottom left,
        curve to var(--tabGirth) calc(100% - var(--tabGirth)) with var(--tabGirth) 100%,
        vline to calc(var(--tabGirth) + var(--spaceVert)),
        curve to calc(var(--tabGirth) * 2) var(--spaceVert) with var(--tabGirth) var(--spaceVert),
        hline to calc(100% - calc(var(--tabGirth) * 2)),
        curve to calc(100% - var(--tabGirth)) calc(var(--tabGirth) + var(--spaceVert)) with calc(100% - var(--tabGirth)) var(--spaceVert),
        vline to calc(100% - var(--tabGirth)),
        curve to 100% 100% with calc(100% - var(--tabGirth)) 100%
    );
  }
}

.tab:not(.active):not(:hover) + .tab:not(.active):not(:hover) {
  .tabView {
    &:after {
      --reduction: calc(var(--spaceVert) * 3);

      content: '';
      position: absolute;
      display: block;
      height: calc(100% - 2 * var(--reduction));
      width: 1px;
      background: $gray3;
      top: var(--reduction);
      left: 0;
    }
  }
}

.tabsContent {
  background: $white;
  border-radius: 4px;
  padding: 8px;
}
