@use '~common/styles/colors' as *;

.container {
  background: $light-gray3;
  border: 1px solid $gray3;
  padding: 4px;
  border-radius: 6px;
}

.tabsRow {
  display: flex;
  padding: 0 16px;
  gap: 4px;
  position: relative;
}

.tab {
  padding: 2px 8px;
  margin-bottom: 4px;
  border-radius: 8px;
  position: relative;

  &:hover {
    background: $light-gray1;
  }
  &.active {
    --tabGirth: 12px;

    background: $white;
    padding: 4px calc(8px + var(--tabGirth)) 8px;
    margin: 0 calc(-1 * var(--tabGirth));

    /* prettier-ignore */
    clip-path: shape(
      from bottom left,
      curve to var(--tabGirth) calc(100% - var(--tabGirth)) with var(--tabGirth) 100%,
      vline to var(--tabGirth),
      curve to calc(var(--tabGirth) * 2) 0 with var(--tabGirth) 0,
      hline to calc(100% - calc(var(--tabGirth) * 2)),
      curve to calc(100% - var(--tabGirth)) var(--tabGirth) with calc(100% - var(--tabGirth)) 0,
      vline to calc(100% - var(--tabGirth)),
      curve to 100% 100% with calc(100% - var(--tabGirth)) 100%
    );
  }
}

.tab:not(.active):not(:hover) + .tab:not(.active):not(:hover) {
  &:after {
    --reduction: 8px;

    content: '';
    position: absolute;
    display: block;
    height: calc(100% - 2 * var(--reduction));
    width: 1px;
    background: $gray3;
    top: var(--reduction);
    left: -2px;
  }
}

.tabsContent {
  background: $white;
  border-radius: 4px;
  padding: 8px;
}
