<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <style>
            html,
            body,
            input {
                font-family: sans-serif;
                font-size: 20px;
            }
            input {
                width: 600px;
                padding: 10px;
            }
            #result {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div style="margin-bottom: 20px">
            <input type="text" id="input" />
        </div>

        <div>result: <span id="result"></span></div>

        <hr />
        <div>Simple: <button id="start">Start</button><button id="stop">Stop</button></div>

        <hr />
        <div>Complex: <button id="start-complex">Start</button><button id="stop-complex">Stop</button></div>

        <script src="script.js"></script>
    </body>
</html>
