<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" href="./styles/main.css" />
    </head>
    <body>
        <div class="root">
            <canvas class="background-shader"></canvas>

            <div class="content">
                <div class="title">Techno Event</div>
                <div class="subtitle">Friday 31st May 2019</div>

                <div class="horizontal-delimiter"></div>

                <p class="description">
                    The UK's house and techno scenes are at their strongest points for years, with veteran demigods like
                    MK and Danny Tenaglia, and modern heroes like Marcel Dettmann and Blawan appearing at clubs across
                    the country regularly. Whether it's underground deep tech, pulverising industrial techno or old
                    skool piano house classics that rings your bell, our house and techno section will point you in the
                    direction of the best raves going.
                </p>

                <div class="horizontal-delimiter"></div>

                <div class="img-list">
                    <div class="img-list__item">
                        <img src='img/1.png' alt="" />
                    </div>
                    <div class="img-list__item">
                        <img src='img/2.png' alt="" />
                    </div>
                    <div class="img-list__item">
                        <img src='img/3.png' alt="" />
                    </div>
                </div>
                <div class="img-list">
                    <div class="img-list__item">
                        <img src='img/4.png' alt="" />
                    </div>
                    <div class="img-list__item">
                        <img src='img/5.png' alt="" />
                    </div>
                    <div class="img-list__item">
                        <img src='img/6.png' alt="" />
                    </div>
                </div>
            </div>
        </div>

        <script src='js/index.js'></script>
    </body>
</html>
