<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <div class="list">
                <div class="list__item">
                    <label for="checkbox1" class="checkbox">
                        <input type="checkbox" id="checkbox1" class="checkbox__input" />
                        <span class="checkbox__decor"></span>
                        <span class="checkbox__label">checkbox1</span>
                    </label>
                </div>
                <div class="list__item">
                    <label for="checkbox2" class="checkbox">
                        <input type="checkbox" id="checkbox2" class="checkbox__input" />
                        <span class="checkbox__decor"></span>
                        <span class="checkbox__label">checkbox2</span>
                    </label>
                </div>
                <div class="list__item">
                    <label for="checkbox3" class="checkbox">
                        <input type="checkbox" id="checkbox3" class="checkbox__input" />
                        <span class="checkbox__decor"></span>
                        <span class="checkbox__label">checkbox3</span>
                    </label>
                </div>
            </div>
        </div>

        <script src="./js/index.js"></script>
    </body>
</html>
