body,
html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.Slider {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .Slider--labels {
    position: relative;
    height: 35px; }
  .Slider--line {
    border-bottom: 1px solid black;
    position: relative; }
  .Slider--mark {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: -10.5px;
    left: -10.5px;
    cursor: pointer; }
  .Slider--label {
    position: absolute; }
    .Slider--label_left {
      left: 0;
      bottom: 0%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .Slider--label_right {
      right: 0;
      bottom: 0%;
      -webkit-transform: translateX(50%);
              transform: translateX(50%); }
