@import '../../../common/styles/colors';

body {
  font-family: sans-serif;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-color: $light-gray3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;

  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(360deg);
    }
  }
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //transition: 1s;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px $light-gray1;
  font-size: 2em;
}

.front {
  background-color: $white;
}

.back {
  background-color: $red5;
  transform: rotateY(180deg);
}
